<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue007.admin.mapper.banner.SliderMapper">

    <resultMap id="BaseResultMap" type="com.vue007.admin.model.banner.Slider">
        <id column="slider_id" property="sliderId" jdbcType="VARCHAR"/>
        <result column="slider_title" property="sliderTitle" jdbcType="VARCHAR"/>
        <result column="poster_little" property="posterLittle" jdbcType="VARCHAR"/>
        <result column="poster" property="poster" jdbcType="VARCHAR"/>
        <result column="slider_url" property="sliderUrl" jdbcType="VARCHAR"/>
        <result column="slider_type" property="sliderType" jdbcType="TINYINT"/>
        <result column="sort" property="sort"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        slider_id, slider_title, poster_little, poster, slider_url, slider_type, sort, create_user, create_time, update_user, update_time, flag
    </sql>

    <select id="findPage" parameterType="com.vue007.admin.model.banner.Slider" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />  FROM bbs_article_slider ac
        <where>
            ac.flag = 1
            <if test="keywords != null and keywords != ''">
                AND ac.slider_title LIKE CONCAT('%', #{keywords},'%')
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY #{orderBy}
            </when>
            <otherwise>
                ORDER BY ac.sort DESC, ac.update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="getByid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/> from bbs_article_slider where slider_id = #{sliderId,jdbcType=VARCHAR}
    </select>

    <insert id="create" parameterType="com.vue007.admin.model.banner.Slider">
        <selectKey keyProperty="sort" resultType="Integer" order="BEFORE">
            SELECT MAX(sort) + 1 FROM <include refid="Table_Name" />
        </selectKey>

        insert into bbs_article_slider
            (
                slider_id, slider_title, poster_little, poster, slider_url,
                slider_type, sort, create_user, create_time, update_user, update_time, flag
            )
        values
            (
                  #{sliderId,jdbcType=VARCHAR},
                  #{sliderTitle,jdbcType=VARCHAR},
                  #{posterLittle,jdbcType=VARCHAR},
                  #{poster,jdbcType=VARCHAR},
                  #{sliderUrl,jdbcType=VARCHAR},
                  #{sliderType,jdbcType=TINYINT},
                  #{sort,jdbcType=INTEGER},
                  #{createUser,jdbcType=VARCHAR},
                  #{createTime,jdbcType=TIMESTAMP},
                  #{updateUser,jdbcType=VARCHAR},
                  #{updateTime,jdbcType=TIMESTAMP},
                  #{flag,jdbcType=TINYINT}

            )
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from bbs_article_slider where slider_id = #{id,jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.vue007.admin.model.banner.Slider">
        update bbs_article_slider
        <set>
            <if test="sliderTitle != null">slider_title = #{sliderTitle,jdbcType=VARCHAR},</if>
            <if test="posterLittle != null">poster_little = #{posterLittle,jdbcType=VARCHAR},</if>
            <if test="poster != null">poster = #{poster,jdbcType=VARCHAR},</if>
            <if test="sliderUrl != null">slider_url = #{sliderUrl,jdbcType=VARCHAR},</if>
            <if test="sliderType != null">slider_type = #{sliderType,jdbcType=TINYINT},</if>
            <if test="sort != null">sort = #{sort,jdbcType=INTEGER},</if>
            <if test="createUser != null">create_user = #{createUser,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">update_user = #{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="flag != null">flag = #{flag,jdbcType=TINYINT},</if>
        </set>
        where slider_id = #{sliderId,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.vue007.admin.model.banner.Slider">
          update bbs_article_slider set
          slider_title = #{sliderTitle,jdbcType=VARCHAR},
          poster_little = #{posterLittle,jdbcType=VARCHAR},
          poster = #{poster,jdbcType=VARCHAR},
          slider_url = #{sliderUrl,jdbcType=VARCHAR},
          slider_type = #{sliderType,jdbcType=TINYINT},
          sort = #{sort,jdbcType=INTEGER},
          create_user = #{createUser,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_user = #{updateUser,jdbcType=VARCHAR},
          update_time = #{updateTime,jdbcType=TIMESTAMP},
          flag = #{flag,jdbcType=TINYINT}
          where slider_id = #{sliderId,jdbcType=VARCHAR}
    </update>

    <!-- 排序更新 -->
    <update id="sortBatch" parameterType="java.util.List">
        UPDATE
        <include refid="Table_Name" />
        SET
        sort = CASE slider_id
        <foreach collection="sortList" index="index" item="item">
            WHEN #{item.id} THEN #{item.sort}
        </foreach>
        END
        WHERE
        slider_id IN
        <foreach collection="sortList" index="index" item="item" open="("  close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <sql id="Table_Name">
        bbs_article_slider
    </sql>

</mapper>
