<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vue007.admin.mapper.file.FileInfoMapper" >
    <resultMap id="FileInfoMap" type="com.vue007.admin.model.file.FileInfo" >
        <id column="file_id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="path" property="path" />
        <result column="acl" property="acl" />
        <result column="size" property="size" />
        <result column="mime_type" property="mimeType" />
        <result column="source_type" property="sourceType" />
        <result column="create_admin" property="createAdmin" />
        <result column="type" property="type" />

        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user"/>
        <result column="flag" property="flag" />
    </resultMap>

    <sql id="Table_Name">
        bbs_upload_file
    </sql>

    <sql id="Base_Column_List">
        uf.file_id,
        uf.name,
        uf.url,
        uf.path,
        uf.acl,
        uf.size,
        uf.mime_type,
        uf.source_type,
        uf.create_admin,
        uf.type,
        uf.create_user,
        uf.create_time,
        uf.update_user,
        uf.update_time,
        uf.flag
    </sql>


    <select id="findPage" parameterType="com.vue007.admin.model.file.FileInfo" resultMap="FileInfoMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" /> uf
        <where>
            uf.flag = 1
            <if test="mimeType != null and mimeType != ''">
                AND uf.mime_type LIKE CONCAT('%', #{mimeType},'%')
            </if>
            <if test="createAdmin != null and createAdmin != ''">
                AND uf.create_admin = #{createAdmin}
            </if>
            <if test="keywords != null and keywords != ''">
                AND ( uf.name LIKE CONCAT('%', #{keywords},'%') )
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY #{orderBy}
            </when>
            <otherwise>
                ORDER BY uf.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="getById" resultMap="FileInfoMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from <include refid="Table_Name" /> uf
        where uf.file_id = #{id}
    </select>
    
    <insert id="create" parameterType="com.vue007.admin.model.file.FileInfo" >
        insert into <include refid="Table_Name" />
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                file_id,
            </if>
            <if test="name != null and name != ''" >
                name,
            </if>
            <if test="url != null and url != ''" >
                url,
            </if>
            <if test="path != null and path != ''" >
                path,
            </if>
            <if test="acl != null and acl != ''" >
                acl,
            </if>
            <if test="size != null and size != ''" >
                size,
            </if>
            <if test="mimeType != null and mimeType != ''" >
                mime_type,
            </if>
            <if test="sourceType != null and sourceType != ''" >
                source_type,
            </if>
            <if test="createAdmin != null and createAdmin != ''" >
                create_admin,
            </if>
            <if test="type != null and type != 0" >
                type,
            </if>
            <if test="createUser != null and createUser != ''" >
                create_user,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                #{id},
            </if>
            <if test="name != null and name != ''" >
                #{name},
            </if>
            <if test="url != null and url != ''" >
                #{url},
            </if>
            <if test="path != null and path != ''" >
                #{path},
            </if>
            <if test="acl != null and acl != ''" >
                #{acl},
            </if>
            <if test="size != null and size != ''" >
                #{size},
            </if>
            <if test="mimeType != null and mimeType != ''" >
                #{mimeType},
            </if>
            <if test="sourceType != null and sourceType != ''" >
                #{sourceType},
            </if>
            <if test="createAdmin != null and createAdmin != ''" >
                #{createAdmin},
            </if>
            <if test="type != null and type != ''" >
                #{type},
            </if>
            <if test="createUser != null and createUser != ''" >
                #{createUser},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.vue007.admin.model.file.FileInfo" >
        update <include refid="Table_Name" />
        <set>
            <if test="name != null and name != ''" >
                name = #{name},
            </if>
            <if test="url != null and url != ''" >
                url = #{url},
            </if>
            <if test="path != null and path != ''" >
                path = #{path},
            </if>
            <if test="acl != null and acl != ''" >
                acl = #{acl},
            </if>
            <if test="size != null and size != ''" >
                size = #{size},
            </if>
            <if test="mimeType != null and mimeType != ''" >
                mime_type = #{mimeType},
            </if>
            <if test="sourceType != null and sourceType != ''" >
                source_type = #{sourceType},
            </if>
            <if test="createAdmin != null and createAdmin != ''" >
                create_admin = #{createAdmin},
            </if>
            <if test="type != null and type != ''" >
                type = #{type},
            </if>
            <if test="updateUser != null and updateUser != ''" >
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime}
            </if>
            <if test="flag != null and flag != ''" >
                flag = #{flag},
            </if>
        </set>
        where file_id = #{id}
    </update>


    <update id="setFlag" parameterType="com.vue007.admin.model.file.FileInfo">
        UPDATE
        <include refid="Table_Name" />
        SET
        update_user = #{updateUser},
        update_time = #{updateTime},
        flag = #{flag}
        WHERE
        file_id= #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.String" >
        delete from bbs_upload_file
        where upload_id = #{uploadId}
    </delete>
</mapper>