<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vue007.admin.mapper.article.WallpaperMapper" >

    <resultMap id="BaseResultMap" type="com.vue007.admin.model.article.Wallpaper" >
        <id column="wallpaper_id" property="id" jdbcType="VARCHAR" />
        <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
        <result property="userId" column="user_id"/>
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="click_count" property="clickCount" jdbcType="INTEGER" />
        <result column="down_count" property="downCount" jdbcType="INTEGER" />

        <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
        <result column="categoryType" property="categoryType" jdbcType="INTEGER" />

        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="flag" property="flag" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        w.wallpaper_id,
        w.category_id,
        w.user_id,
        w.title,
        w.content,
        w.click_count,
        w.down_count,
        w.status,
        w.type,
        w.sort,

        w.create_user,
        w.create_time,
        w.update_user,
        w.update_time,
        w.flag
    </sql>

    <sql id="Table_Name">
        bbs_wallpaper
    </sql>

    <select id="findPage" parameterType="com.vue007.admin.model.article.Wallpaper" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />,
            ac.category_name categoryName,
            ac.category_type categoryType
        FROM
            <include refid="Table_Name" /> w
            LEFT JOIN bbs_article_category ac ON ac.category_id = w.category_id
        <where>
            w.flag = 1
            <if test="categoryId != null and categoryId != ''">
                AND ac.category_id = #{categoryId}
            </if>
            <if test="status != null and status != ''">
                AND w.status = #{status}
            </if>
            <if test="keywords != null and keywords != ''">
                AND w.title LIKE CONCAT('%', #{keywords},'%')
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY #{orderBy}
            </when>
            <otherwise>
                ORDER BY w.sort DESC, w.update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        SELECT
            <include refid="Base_Column_List" />,
            ac.category_name categoryName,
            ac.category_type categoryType
        FROM
            <include refid="Table_Name" /> w
            LEFT JOIN bbs_article_category ac ON ac.category_id = w.category_id
        WHERE w.wallpaper_id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="create" parameterType="com.vue007.admin.model.article.Wallpaper" >
        INSERT INTO
        <include refid="Table_Name" />
        (
            wallpaper_id,
            category_id,
            user_id,
            title,
            content,
            status,
            type,
            sort,
            create_user,
            create_time,
            update_user,
            update_time
        )
        VALUES
        (
            #{id},
            #{categoryId},
            #{userId},
            #{title},
            #{content},
            #{status},
            #{type},
            #{sort},
            #{createUser},
            #{createTime},
            #{updateUser},
            #{updateTime}
        )
    </insert>

    <update id="update" parameterType="com.vue007.admin.model.article.Wallpaper" >
        UPDATE <include refid="Table_Name" />
        <set>
            <if test="categoryId != null and categoryId != ''" >
                category_id = #{categoryId},
            </if>
            <if test="userId != null and userId != ''" >
                user_id = #{userId},
            </if>
            <if test="title != null and title != ''" >
                title = #{title},
            </if>
            <if test="content != null and content != ''" >
                content = #{content},
            </if>
            <if test="clickCount != null and clickCount != ''" >
                click_count = #{clickCount},
            </if>
            <if test="downCount != null and downCount != 0" >
                down_count = #{downCount},
            </if>
            <if test="status != null and status != 0" >
                status = #{status},
            </if>
            <if test="type != null and type != 0" >
                type = #{type},
            </if>
            <if test="sort != null and sort != 0" >
                sort = #{sort},
            </if>
            <if test="createUser != null and createUser != ''" >
                create_user = #{createUser},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime},
            </if>
            <if test="updateUser != null and updateUser != ''" >
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime},
            </if>
            <if test="flag != null and flag != 0" >
                flag = #{flag},
            </if>
        </set>
        WHERE
            wallpaper_id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from bbs_wallpaper
        where wallpaper_id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>