<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue007.admin.mapper.topic.TopicCategoryMapper">

    <resultMap id="topicCategoryMap" type="com.vue007.admin.model.topic.TopicCategory">
        <id property="id" column="category_id"/>
        <result property="name" column="category_name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="littleImgUrl" column="little_img_url"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>

        <result property="topicCount" column="topicCount" jdbcType="INTEGER"/>
        <result property="latestTopicUpdateTime" column="latestTopicUpdateTime" jdbcType="TIMESTAMP"/>

        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="flag" column="flag" jdbcType="TINYINT"/>

    </resultMap>

    <sql id="Table_Name">
        bbs_topic_category
    </sql>

    <sql id="Base_Column_List">
        tc.category_id,
        tc.category_name,
        tc.img_url,
        tc.little_img_url,
        tc.status,
        tc.sort,
        tc.create_user,
        tc.create_time,
        tc.update_user,
        tc.update_time,
        tc.flag
    </sql>

    <select id="findPage" parameterType="com.vue007.admin.model.topic.TopicCategory" resultMap="topicCategoryMap">
        SELECT
            COUNT(tc.category_id) topicCount,
            MAX(t.update_time) latestTopicUpdateTime,
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" /> tc
            LEFT JOIN bbs_topic t ON t.category_id = tc.category_id
        <where>
            tc.flag = 1
            <if test="keywords != null and keywords != ''">
                AND tc.category_name LIKE CONCAT('%', #{keywords},'%')
            </if>
        </where>
        GROUP BY
            tc.category_id
        ORDER BY
            tc.sort DESC, tc.update_time DESC
    </select>

    <select id="getById" parameterType="String" resultMap="topicCategoryMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM
          <include refid="Table_Name" /> tc
        WHERE
          tc.category_id =#{id}
    </select>

    <insert id="create" parameterType="com.vue007.admin.model.topic.TopicCategory">
        <selectKey keyProperty="sort" resultType="Integer" order="BEFORE">
            SELECT MAX(sort) + 1 FROM <include refid="Table_Name" />
        </selectKey>

        INSERT INTO <include refid="Table_Name" />
        (
            category_id,
            category_name,
            img_url,
            little_img_url,
            status,
            sort,
            create_user,
            create_time,
            update_user,
            update_time
        )
        VALUES
        (
            #{id},
            #{name},
            #{imgUrl},
            #{imgUrl},
            #{status},
            #{sort},
            #{createUser},
            #{createTime},
            #{updateUser},
            #{updateTime}
        )
    </insert>

    <update id="update" parameterType="com.vue007.admin.model.topic.TopicCategory">
        UPDATE
        <include refid="Table_Name" />
        <set>
            <if test="name != null and name != ''">
                category_name = #{name},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
                little_img_url = #{imgUrl},
            </if>
            <if test="littleImgUrl != null and littleImgUrl != ''">
                little_img_url = #{littleImgUrl},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status > -1">
                status = #{status},
            </if>
            <if test="flag != 0">
                flag = #{flag},
            </if>
        </set>
        WHERE
        category_id = #{id}
    </update>

    <update id="sortBatch" parameterType="java.util.Map">
        UPDATE
        <include refid="Table_Name" />
        SET
        sort = CASE category_id
        <foreach collection="sortMap" index="key" item="value">
            WHEN #{key} THEN #{value}
        </foreach>
        END
        WHERE
        category_id IN
        <foreach collection="sortMap" item="value" index="key" open="("  close=")" separator=",">
            #{key}
        </foreach>
    </update>

    <delete id="deleteById" parameterType="String">
      DELETE FROM
        <include refid="Table_Name" />
      WHERE
        category_id = #{id}
    </delete>

</mapper>