<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue007.admin.mapper.topic.TopicMapper">

    <resultMap id="topicMap" type="com.vue007.admin.model.topic.Topic">
        <id property="id" column="topic_id"/>
        <result property="title" column="topic_title"/>
        <result property="categoryId" column="category_id"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="imgUrl" column="img_url"/>
        <result property="littleImgUrl" column="little_img_url"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
        <result property="favoritesCount" column="favorites_count" jdbcType="INTEGER"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>

        <result property="recommendId" column="recommendId"/>
        <result property="categoryName" column="categoryName"/>

        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="flag" column="flag" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Table_Name">
        bbs_topic
    </sql>
    <sql id="recommendTableName">
        bbs_topic_recommend
    </sql>

    <sql id="Base_Column_List">
        a.topic_id,
        a.topic_title,
        a.category_id,
        a.content,
        a.user_id,
        a.img_url,
        a.little_img_url,
        a.view_count,
        a.like_count,
        a.favorites_count,
        a.comment_count,
        a.create_time,
        a.update_time,
        a.flag,
        a.status
    </sql>

    <select id="findPage" parameterType="com.vue007.admin.model.topic.Topic" resultMap="topicMap">
        SELECT
            <include refid="Base_Column_List" />,
            tc.category_name categoryName,
            tr.rec_id recommendId
        FROM
            <include refid="Table_Name" /> a
            LEFT JOIN bbs_topic_category tc ON a.category_id = tc.category_id
            LEFT JOIN bbs_topic_recommend tr ON a.topic_id = tr.topic_id
        <where>
            a.flag = 1
            <if test="categoryId != null and categoryId != ''">
                AND a.category_id = #{categoryId}
            </if>
            <if test="status != null and status != 99">
                AND a.status = #{status}
            </if>
            <if test="keywords != null and keywords != ''">
                AND a.topic_title LIKE CONCAT('%', #{keywords},'%')
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY #{orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="getById" parameterType="String" resultMap="topicMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM
          <include refid="Table_Name" /> a
        WHERE
          a.topic_id =#{id}
    </select>

    <select id="getLatestUpdateTimeByCategoryId" parameterType="String" resultType="java.util.Date">
        SELECT
          MAX(a.update_time)
        FROM
          <include refid="Table_Name" /> a
        WHERE
            a.category_id = #{categoryId}
            AND a.flag = 1
            AND a.status = 1
    </select>

    <update id="update" parameterType="com.vue007.admin.model.topic.Topic">
        UPDATE
        <include refid="Table_Name" />
        <set>
            <if test="title != null and title != ''">
                topic_title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
            <if test="littleImgUrl != null and littleImgUrl != ''">
                little_img_url = #{littleImgUrl},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
        </set>
        WHERE
          topic_id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
      DELETE FROM
        <include refid="Table_Name" />
      WHERE
        topic_id = #{id}
    </delete>


    <insert id="createRecommend" parameterType="com.vue007.admin.model.topic.Topic">
        INSERT INTO <include refid="recommendTableName" />
        (
        topic_id,
        rec_id,
        create_user,
        create_time
        )
        VALUES
        (
        #{id},
        #{recommendId},
        #{createUser},
        #{createTime}
        )
    </insert>
    <delete id="deleteRecommendById" parameterType="String">
        DELETE FROM
        <include refid="recommendTableName" />
        WHERE
        rec_id = #{rec_id}
    </delete>

</mapper>