<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue007.admin.mapper.user.UserAuditMapper">

    <resultMap id="userAuditMap" type="com.vue007.admin.model.user.UserAudit">
        <id property="id" column="audit_id"/>
        <result property="nickname" column="nickname"/>
        <result property="headImg" column="head_img"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type" jdbcType="TINYINT" />

        <result property="status" column="status" jdbcType="TINYINT" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

        <result property="userNickname" column="user_nickname" />
    </resultMap>

    <sql id="Table_Name">
        bbs_user_audit
    </sql>

    <sql id="Base_Column_List">
        a.audit_id,
        a.user_id,
        a.nickname,
        a.head_img,
        a.type,
        a.status,
        a.update_user,
        a.update_time,
        a.create_time
    </sql>

    <select id="findPage" parameterType="com.vue007.admin.model.user.UserAudit" resultMap="userAuditMap">
        <if test="status == 99 or status > 0">
            SELECT
              <include refid="Base_Column_List" />,
              u.nickname AS user_nickname
            FROM
              <include refid="Table_Name" /> a
            LEFT JOIN
              bbs_user u
            ON
              a.user_id = u.user_id
            <where>
                a.status != 0
                <if test="status > 0">
                    AND a.status = #{status}
                </if>
                <if test="keywords != null and keywords != ''">
                    AND
                    (
                      u.nickname LIKE CONCAT('%', #{keywords},'%')
                        <if test="type == 2">
                            OR a.nickname LIKE CONCAT('%', #{keywords},'%')
                        </if>
                    )
                </if>
                <if test="type > 0">
                    AND a.type = #{type}
                </if>
            </where>
        </if>

        <if test="status == 99">
            UNION ALL
        </if>

        <if test="status == 0 or status == 99">
            SELECT
              <include refid="Base_Column_List" />,
              u.nickname AS user_nickname
            FROM
            (
                SELECT
                    b.*
                FROM
                    <include refid="Table_Name" /> b
                WHERE
                    (
                    SELECT
                      count(1)
                    FROM
                      <include refid="Table_Name" />
                    WHERE
                        status = b.status
                        AND type = b.type
                        AND user_id = b.user_id
                        AND create_time > b.create_time
                ) = 0
            ) AS a
            LEFT JOIN
              bbs_user u
            ON
              a.user_id = u.user_id
            <where>
                a.status = 0
                <if test="keywords != null and keywords != ''">
                    AND
                    (
                      u.nickname LIKE CONCAT('%', #{keywords},'%')
                        <if test="type == 2">
                            OR a.nickname LIKE CONCAT('%', #{keywords},'%')
                        </if>
                    )
                </if>
                <if test="type > 0">
                    AND a.type = #{type}
                </if>
            </where>
        </if>
        ORDER BY
          create_time DESC
    </select>

    <!--<select id="findPage" parameterType="UserAudit" resultMap="userAuditMap">-->
        <!--SELECT-->
          <!--<include refid="Base_Column_List" />,-->
          <!--u.nickname AS user_nickname-->
        <!--FROM-->
          <!--<include refid="Table_Name" /> a-->
        <!--LEFT JOIN-->
          <!--bbs_user u-->
        <!--ON-->
          <!--a.user_id = u.user_id-->
        <!--<where>-->
            <!--<if test="keywords != null and keywords != ''">-->
                <!--AND u.nickname LIKE CONCAT('%', #{keywords},'%')-->
            <!--</if>-->
            <!--<if test="status > 0">-->
                <!--AND a.status = #{status}-->
            <!--</if>-->
            <!--<if test="type > 0">-->
                <!--AND a.type = #{type}-->
            <!--</if>-->
        <!--</where>-->
        <!--ORDER BY-->
          <!--a.create_time DESC-->
    <!--</select>-->

    <select id="getById" parameterType="String" resultMap="userAuditMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM
          <include refid="Table_Name" /> a
        WHERE
          a.audit_id =#{id}
    </select>

    <!--<insert id="create" parameterType="User">-->
        <!--INSERT INTO <include refid="Table_Name" />-->
        <!--(-->
            <!--user_id,-->
            <!--nickname,-->
            <!--head_img,-->
            <!--user_type,-->
            <!--create_time-->
        <!--)-->
        <!--VALUES-->
        <!--(-->
            <!--#{id},-->
            <!--#{nickname},-->
            <!--#{headImg},-->
            <!--#{user_type},-->
            <!--#{createTime},-->
        <!--)-->
    <!--</insert>-->

    <update id="update" parameterType="com.vue007.admin.model.user.UserAudit">
        UPDATE
        <include refid="Table_Name" />
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="headImg != null and headImg != ''">
                head_img = #{headImg},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status >= 0 ">
                status = #{status},
            </if>
        </set>
        WHERE
          audit_id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
      DELETE FROM
        <include refid="Table_Name" />
      WHERE
        audit_id = #{id}
    </delete>

    <delete id="deleteDuplicate" parameterType="com.vue007.admin.model.user.UserAudit">
        DELETE FROM
          <include refid="Table_Name" />
        WHERE
        <![CDATA[
            user_id = #{userId}
          AND
            type = #{type}
          AND
            create_time < #{createTime}
          AND
            status = #{status}
        ]]>
    </delete>
</mapper>